Projects/zstack/Samples/SampleApp/CC2530DB/CoordinatorEB/
Projects/zstack/Samples/SampleApp/CC2530DB/EndDeviceEB/
Projects/zstack/Samples/SampleApp/CC2530DB/SampleApp.dep
Projects/zstack/Samples/SampleApp/CC2530DB/settings/
Projects/zstack/Samples/SampleApp/CC2530DB/DemoEB/
Projects/zstack/Samples/SampleApp/CC2530DB/RouterEB/
